@model Real_Estate.Models.Agent

@{
    ViewData["Title"] = "Details";
}

<div>
    <div class="row">
        <div class="col-6 offset-3">
            <div class="card">
                <div class="card-header">
                    <h1 class="text-center text-info" style="margin-top:100px;">Agent Detail 💳  </h1>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-6 text-center p-4">
                            <span>Name : <em><b>@Model.Name</b></em></span>
                        </div>
                        
                        <div class="col-6 text-center p-4">
                            <span>Location : <em><b>@Model.Location</b></em></span>
                        </div>
                        <div class="col-6 text-center mt-2">
                            <img src="~/images/@Model.Path" style="width:200px; height:200px; border:1px solid black; border-radius:10px; padding:10px;" alt="Laptop image" /><br />

                        </div>
                    </div>

                </div>
                <div class="card-footer">
                     <a class="btn btn-sm btn-primary text-light m-2 p-2" asp-action="Index" asp-controller="Agents" >Back to List</a>


                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
