@model Real_Estate.Models.Agent

@{
    ViewData["Title"] = "Edit";
}

@* <partial name="_Notification" /> *@
<div>
    <div class="row">
        <div class="col-6 offset-3 border border-dark p-4 rounded-top">
            <h1 class="text-center text-info" style="margin-top:50px;">❄❄Edit Agent❄❄</h1>
            <form method="post" asp-action="Edit" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger text-center"></div>
                <div class="form-group">
                    <label asp-for="Name"></label>
                    <input type="text" asp-for="Name" placeholder="Enter Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                    <input type="hidden" asp-for="Id" />
                </div>
               
                <div class="form-group">
                    <label asp-for="Location"></label>
                    <input type="text" asp-for="Location" placeholder="Enter Description" class="form-control" />
                    <span asp-validation-for="Location" class="text-danger"></span>


                </div>

                <div class="row mt-2">
                    <div class="col-8">
                        <label asp-for="Image"></label>
                        <input type="file" class="form-control" asp-for="Image" id="ChooseImg" />
                    </div>
                    <div class="col-4 ">
                        <img src="~/images/@Model.Path" style="width:200px;height:200px; border:2px solid black; border-radius:10px; padding:10px;" alt="Laptop image" id="PrevImg" />
                    </div>
                </div>
                <div class="form-group m-4 ">
                    <input type="submit" class="btn btn-group-sm btn-primary float-right" value="Update" />
                </div>
                <a class="btn btn-sm btn-warning p-2 m-2 " asp-action="Index" asp-controller="Agents">Back to List</a>
            </form>
        </div>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script>
    $(document).ready(function () {
        $('#ChooseImg').change(function (e) {
            var url = $('#ChooseImg').val();
            var ext = url.substring(url.lastIndexOf('.') + 1).toLowerCase();
            if (ChooseImg.files && ChooseImg.files[0] && (ext == "gif" || ext == "jpg" || ext == "jfif" || ext == "png" || ext == "bmp")) {
                var reader = new FileReader();
                reader.onload = function () {
                    var output = document.getElementById('PrevImg');
                    output.src = reader.result;
                }
                reader.readAsDataURL(e.target.files[0]);
            }

        });
    });

</script>
